<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyeng.skyengtest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FinalActivity"
            android:label="@string/log_out"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CodeAccessActivity"
            android:label="@string/enter_code"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".core.UpdateReceiver"
            android:process=":remote" />

        <service
            android:name=".core.UpdateService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.skyeng.skyengtest.core.UpdateService" />
            </intent-filter>
        </service>
    </application>

</manifest>